<h1>Editing Testing Facilitation</h1>

<%= render 'form', testing_facilitation: @testing_facilitation %>

<%= link_to 'Show', @testing_facilitation %> |
<%= link_to 'Back', testing_facilitations_path %>
