<p id="notice"><%= notice %></p>

<h1>Interviewers</h1>

<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Study ID</th>
			<th>Interviewer ID</th>
		</tr>
	</thead>

	<tbody>
		<% @interviewers.each do |interviewer| %>
			<tr>
				<td><%= link_to 'Show', interviewer %></td>
				<td><%= link_to interviewer.studyId, interviewer.study %></td>
				<td><%= interviewer.interviewerId %></td>
			</tr>
		<% end %>
	</tbody>
</table>
