<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @interviewer.studyId, @interviewer.study %>
</p>

<p>
  <strong>Interviewerid:</strong>
  <%= @interviewer.interviewerId %>
</p>

<%= link_to 'Back', interviewers_path %>
