<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @interviewer.studyId, study_path( @interviewer.studyId ) %>
</p>

<p>
  <strong>Interviewerid:</strong>
  <%= link_to @interviewer.interviewerId, interview_path( @interviewer.interviewerId ) %>
</p>

<%= link_to 'Back', interviewers_path %>
