<h1>Counts for <%= @studies.count -%> <%= 'study'.pluralize(@studies.count) -%>.</h1>


<%
	s = {}
	s[:id] = 'All'
	s[:hisplats] = @studies.collect{|s|s[:hisplats]}.flatten.uniq
	s[:genders] = @studies.collect{|s|s[:genders]}.flatten.uniq
	s[:sexes] = @studies.collect{|s|s[:sexes]}.flatten.uniq
	s[:races] = @studies.collect{|s|s[:races]}.flatten.uniq
	s[:demographics] = @studies.collect{|s|s[:demographics]}.inject([],:+).flatten
%>

<%= render partial: 'demographic_counts', locals: { study: s } %>

<br/>
<hr/>
<br/>

<%= render partial: 'demographic_counts', collection: @studies, as: :study %>
