<!--
#	STI COUNTS
#Rows: Study 1 (AA), 2 (Latina), 3 (trans)
#Columns: # agreed to test for hiv, # told results ov HIV, HIV+, # HIV-, # HIV Ind, # tested for chlamydia / gonorrhea, # Gonorrhea+, # Chlamydia+
-->
<table>
	<thead>
		<tr>
			<th>Funding Grant</th>
			<th>Subject IDs</th>
			<th>#</th>
			<th># agreed to HIV test</th>
			<th># agreed to tell HIV test results</th>
			<th># HIV+</th>
			<th># HIV-</th>
			<th># HIV Ind</th>
			<th># tested for chlamydia / gonorrhea</th>
			<th># Gonorrhea+</th>
			<th># Gonorrhea-</th>
			<th># Chlamydia+</th>
			<th># Chlamydia-</th>
		</tr>
	</thead>
	<tbody>
<% @ego_ids.each_pair do |k,v| %>
		<tr><td><%= k %></td><td><%= v.join(', ') %></td><td><%= v.length %></td></tr>
<% end %>
	</tbody>
</table>
