/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, th, td {
	border: 1px solid silver;
	border-collapse: collapse;
}
td {
	text-align: right;
}
textarea,
input[type=text]{
	width: 50em;
}
textarea {
	height: 10em;
}
div.field label:first-child {
	font-weight: bold;
}
p.flash {
	padding: 2em;
	border: 2px solid;
}
p.flash.notice {
	border-color: #8F8;
	background-color: #DFD;
}
p.flash.warn {
	border-color: #F8F;
	background-color: #FDF;
}
p.flash.error {
	border-color: #F88;
	background-color: #FDD;
}
table input[type=text]{
	width: 12em;
}
table.alter_referral_sheets td {
	text-align: center;
}
