<h1>RailsUsers#index</h1>

<table><thead>
<tr><th>Login</th><th>Role(s)</th></tr>
</thead><tbody>
<% @users.each do |user| %>
	<tr><td><%= user.login %></td><td><%= user.rails_roles.collect(&:name).join(', ') %></td></tr>

<% end %>
</tbody></table>
