<h1>RailsUsers#index</h1>

<table><thead>
<tr><th>Login</th><th>Role(s)</th></tr>
</thead><tbody>
<% @rails_users.each do |rails_user| %>
	<tr>
		<td><%= link_to rails_user.login, rails_user %></td>
		<td><%= rails_user.rails_roles.collect(&:name).join(', ') %></td>
	</tr>
<% end %>
</tbody></table>

<%= link_to "Create New User", new_rails_user_path %>
